#home {
<<<<<<< HEAD
  background-color: lightgray;
=======
  background-color: gray;
>>>>>>> 16db6550f16555fe134701d6dbe2b3870a273856
  background-image: url("constellation.png");
}

body{
<<<<<<< HEAD
    background-color: lightgray;
=======
    background-color: gray;
>>>>>>> 16db6550f16555fe134701d6dbe2b3870a273856
}

#backlink {
  position: relative;
  top:  0px;
  left: 0px;
}


#starry{
  width:  750px;
  position: relative;
  top:  10px;
  left:  0px;
}

#starry2{
  width:  750px;
  position: relative;
  top:  10px;
  left:  0px;
}

h {
  text-align: center;
  font-size: 50px;
}

<<<<<<< HEAD
=======
#image1 {
  position: relative;
  top: 10px;
  left:  0px;
}
>>>>>>> 16db6550f16555fe134701d6dbe2b3870a273856
img {
  position: relative;
  top: 225px;
  left: 525px;
}

#img2 {
  position: relative;
  top: 320px;
  left: 390px;
}

#img3 {
  position: relative;
  top: 530px;
  left: 225px;
}

#img4 {
  position: relative;
  top:545px;
  left: 440px;
}

#img5 {
  position: relative;
  top: 230px;
  left: 455px;
}

#img6 {
  position: relative;
  top: 405px;
  left: 530px;
}

#img7 {
  position: relative;
  top: 305px;
  left: 550px;
}

#img8 {
  position: relative;
  top: 470px;
  left: 530px;
}

.name {
  text-align: center;
  font-size: 30px;
}

.third {
  font-size: 40px;
  margin: 1px;
}

p {
  font-size:  30px;
<<<<<<< HEAD
}
=======
}

/* Popup container */
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  font-size: 25px;
  visibility: hidden;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.6link {
  font-size: 40px;
}
>>>>>>> 16db6550f16555fe134701d6dbe2b3870a273856
